<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
  docsearch({
    appId: '8H5CQDOJ8H',
    apiKey: '50495b776e2e9790ffcfe3f22e29b160',
    indexName: 'dzello',
    inputSelector: '#docsearch-input', // replace w/ your element id if necessary
    debug: true, // Set debug to true if you want to inspect the dropdown
    algoliaOptions: {
      attributesToSnippet: ["content:25"]
    }
  });
  document.getElementById("docsearch-input").focus();
</script>
