<!doctype html>
<html>
  <head>
    <title>{{ if isset .Params "title" }} Estelle &amp; Josh — {{ .Title }} {{ else }} {{ .Title }} {{ end }}</title>
    <meta name="description" content="A compilation of our favorite stories and photos from when we met until now." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/slick/slick.css" />
    <link rel="stylesheet" href="/slick/slick-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <meta property="og:image" content="https://estelle.and.dzello.com/images/assets/heart-frame.png" />
    <meta property="og:image:width" content="1600" />
    <meta property="og:image:height" content="945" />
  </head>
  <body>
