<!doctype html>
<html>
  <head>
    <title>{{ if isset .Params "title" }} Estelle &amp; Josh — {{ .Title }} {{ else }} {{ .Title }} {{ end }}</title>
    <meta name="description" content="{{ or .Summary .Site.Params.description  }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/slick/slick.css" />
    <link rel="stylesheet" href="/slick/slick-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    {{ if isset .Params "images" }}
      <meta property="og:image" content="{{ .Site.BaseURL }}images/photos/{{ index .Params.images 0 }}" />
      <meta property="og:image:width" content="600" />
      <meta property="og:image:height" content="600" />
    {{ else }}
      <meta property="og:image" content="{{ .Site.Params.og_image }}" />
      <meta property="og:image:width" content="{{ .Site.Params.og_image_width }}" />
      <meta property="og:image:height" content="{{ .Site.Params.og_image_height }}" />
    {{ end }}
  </head>
  <body>
