<!doctype html>
<html>
  <head>
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/slick/slick.css" />
    <link rel="stylesheet" href="/slick/slick-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Roboto+Mono|Crimson+Text" rel="stylesheet">
    <link rel="icon" href="/favicon.png" type="image/png" />
  </head>
  <body>
