{{ partial "header" . }}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">All Stories</h1>
      <p>&nbsp;</p>
      <ul class="list-unstyled story-font text-center">
        {{ range .Data.Pages.Reverse }}
          <li><a href="{{ .URL }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      <p>&nbsp;</p>
      <p class="text-center story-font">
        <a href="javascript:history.back()">back</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/">home</a>
      </p>
    </div>
  </div>
  {{ partial "closing" . }}
</div>


{{ partial "footer" . }}
