{{ partial "header" . }}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Table of Contents</h1>
      <p>&nbsp;</p>
      <ul class="list-unstyled">
        {{ range .Data.Pages.Reverse }}
          <li><h4><a href="{{ .URL }}">{{ .Title }}</a></h4></li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="footer">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h5 class="separator">— — —</h5>
      <p class="footer">Estelle &amp; Josh, 2017</p>
    </div>
  </div>
</div>

{{ partial "footer" . }}
