{{ partial "header" . }}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 col-sm-5">
      <h1>{{ .Page.Title }}</h1>
      <br>
      <div class="content">
        {{ .Page.Content }}
        <hr>
        <ul class="list-inline">
          {{ if .PrevInSection }}
            <li>
              <a href="{{ .PrevInSection.Permalink }}">&laquo; previous</a>
            <li>
          {{ end }}
          <li><a class="center" href="/">home</a></li>
          {{ if .NextInSection }}
            <li class="pull-right">
              <a href="{{ .NextInSection.Permalink }}">
                next &raquo; {{ .NextInSection.Title }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="col-md-7 col-sm-7">
      <div class="carousel-holder">
        <div class="carousel">
          {{ range .Params.images }}
            <div class="item">
              <img class="frame" src="/images/assets/square_frame-16.png" />
              <img class="photo" src="{{ . }}" />
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="footer">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h5 class="separator">— — —</h5>
        <p class="footer">Estelle &amp; Josh, 2017</p>
      </div>
    </div>
  </div>
</div>


{{ partial "footer" . }}
