{{ partial "header" . }}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <h1>{{ .Title }}</h1>
      <div class="content">
        {{ .Content }}
        <hr>
        <ul class="list-inline">
          {{ if .PrevInSection }}
            <li>
              <a href="{{ .PrevInSection.URL }}">&laquo; previous</a>
            <li>
          {{ end }}
          <li><a class="center" href="/">home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="center" href="/story/">search</a></li>
          {{ if .NextInSection }}
            <li class="pull-right">
              <strong>
                <a href="{{ .NextInSection.URL }}">
                  next &raquo; {{ .NextInSection.Title }}
                </a>
              </strong>
            </li>
            <div class="clearfix">
            </div>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="carousel-holder">
        <div class="carousel">
          {{ range .Params.images }}
            <div class="item">
              <img class="frame" src="/images/assets/square_frame-16.png" />
              <img class="photo" src="/images/photos/{{ . }}" />
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ partial "closing" . }}
</div>

{{ partial "footer" . }}
