{{ partial "header" . }}

<div class="container-fluid rsvp-container rsvp-confirmation">
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <img class="frame-image" src="/images/assets/rsvp/RVSP_page_icons-32.png">
      <img class="thank-you-image" src="/images/assets/rsvp/thank-you-banner.png">
      <br>
      <h3 class="text-center text-green">Your RSVP is "Yes" - we'll see you there!</h3>
      <br>
      <img class="hashtag-image" src="/images/assets/rsvp/hashtag-banner.png">
      <br>
      <a class="registry-image-link" style="" href="/list">
        <img class="registry-image" src="/images/assets/rsvp/visit-our-registry.png">
      </a>
      <br>
      <br>
    </div>
  </div>
</div>
{{ partial "visit-our-site" . }}

{{ partial "footer" . }}
