.slick-prev:before, .slick-next:before {
  color: blue;
}

.carousel-holder {
  border: 1px solid #ccc;
  border-radius: 50px;
  margin: 15px auto;
  padding: 25px 0px;
}

.carousel {
  width: 75%;
  margin: 0 auto;
}

.carousel .item {
}

.carousel .slick-slide img {
  margin: 0 auto;
}

.carousel .item img {
  display: none;
  height: 350px;
}

.carousel.slick-initialized .item img {
  display: block;
}

.heart-arrow {
  z-index: 100;
  border: 0;
  background: 0;
  position: absolute;
  top: 46%;
  display: block;
}

.heart-arrow img {
  width: 34px;
}

.heart-right {
  right: 25px;
}

.heart-left {
  left: 25px;
}

.heart-arrow.slick-disabled {
  opacity: 0.3;
}

@media (max-width: 480px) {
  .heart-arrow {
    visibility: hidden;
  }
}
