.slick-prev:before, .slick-next:before {
  color: blue;
  font-size: 24px;
}

.carousel {
  width: 450px;
  margin: 0 auto;
  text-align: center;
}

.carousel p {
  width: 375px;
  margin: 20px auto 0;
}

.carousel img {
  border-radius: 10px;
  width: 375px;
  display: block;
  margin: 0 auto;
}
