.slick-prev:before, .slick-next:before {
  color: blue;
}

.carousel-holder {
  margin: 20px 0px;
}

.carousel.slick-initialized .item img {
  display: block;
}

.heart-arrow {
  z-index: 100;
  border: 0;
  background: 0;
  position: absolute;
  top: 46%;
  display: block;
}

.heart-arrow img {
  width: 34px;
}

.heart-arrow.slick-disabled {
  opacity: 0.3;
}

.carousel .item {
  position: relative;
}

.carousel .item img {
  display: none;
}

.carousel .item img.frame {
  position: relative;
  z-index: 2;
  width: 99%;
  padding: 1%;
}

.carousel .item img.photo {
  z-index: 1;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
}

@media (min-width: 481px) {
  .carousel {
    width: 75%;
    margin: 0 auto;
  }
  .heart-right {
    right: -50px;
  }

  .heart-left {
    left: -50px;
  }
}

@media (max-width: 480px) {
  .heart-left {
    left: -22px;
  }
  .heart-right {
    right: -18px;
  }
}
