@import "./imports/fonts.css";
@import "./home.css";
@import "./carousel.css";

body {
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

h1 {
  font-family: MagicalMysteryTour;
}

h3 {
  font-family: MagicalMysteryTour;
}

h5.separator {
  font-family: 'Indie Flower';
}

p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 20px;
}

p.footer {
  font-size: 16px;
  text-align: center;
}

a, a:active, a:visited, a:hover {
  color: blue;
}

.paginate a {
  font-size: 20px;
}
