.rsvp-container h3 {
  color: #82b1ed;
  font-size: 24px !important;
}

.rsvp-container .pink {
  color: #f3409e;
  margin-bottom: 0px;
}

.rsvp-container .pink-stripe {
  width: 385px;
}

.rsvp-container input[type="text"] {
  color: #82b1ed;
  border: 1px solid #82b1ed;
  border-radius: 0;
  box-shadow: 0 0 0 0;
  outline: 0;
  width: 275px;
  font-size: 12pt;
  font-family: Helvetica;
}

.rsvp-container input.longer {
  width: 350px;
}

.rsvp-container input[type="submit"] {
  background: url('/images/assets/rsvp/press-heart-button.png');
  border: 0;
  outline: 0;
  width: 165px;
  height: 141px;
  margin-left: 100px;
  display: block;
}

.rsvp-container img.pink-heart-left {
  position: absolute;
  width: 60px;
  top: 69px;
  left: -70px;
}

.rsvp-container img.cute-flowers-left {
  position: absolute;
  width: 135px;
  top: 165px;
  left: -145px;
}

.rsvp-container img.pink-heart-right {
  position: absolute;
  width: 60px;
  top: 69px;
  left: 410px;
}

.rsvp-container img.cute-flowers-right {
  position: absolute;
  width: 135px;
  top: 140px;
  left: 410px;
}

.text-green {
  color: rgb(174, 200, 63) !important;
}

.text-pink {
  color: pink !important;
}

.rsvp-confirmation img {
  display: block;
  margin: 0 auto;
}

.registry-image-link {
  display: block;
  margin-left: 80px;
}

@media (max-width: 768px) {
  .registry-image-link {
    margin-left: 0px;
  }
}

.rsvp-container .frame-image {
  width: 250px;
}

@media (min-width: 768px) {
  .rsvp-column {
    width: 450px; margin: 0 auto; position: relative;
  }
}

@media (max-width: 990px) {
  .rsvp-container img.deco {
    display: none;
  }
  .rsvp-container img.deco-conf {
    display: none;
  }
}
