<!-- <script type="text/javascript">
  document.location.href = "https://www.colleo.fr/cagnotte/9764/josh-and-estelle-s-wedding";
</script> -->

{{ partial "header" . }}

<div class="container-fluid rsvp-container rsvp-confirmation">
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <p class="text-center" style="width: 400px; margin: auto;">
        Hi! We are using two different sites to host our registry so that we can support payment
        methods for both the US and the EU.
        <br><br>
        <strong>Please choose the site closest to you.</strong>
      </p>
      <div class="text-center" style="font-size: 24px;">
        <br>
        <strong><a href="https://www.colleo.fr/cagnotte/9764/josh-and-estelle-s-wedding">France / EU</a></strong>
        <br>
        <br>
        <strong><a href="https://www.gofundme.com/estelle-and-josh-wedding">United States</a></strong>
      </div>

    </div>
  </div>
</div>

{{ partial "footer" . }}
