{{ partial "header" . }}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <h3 class="text-center">Two people who like each other</h3>
      <div class="heart-framed-couple">
        <a href="/story/it-began-in-thailand/">
          <img class="i-center" src="/images/assets/heart-frame.png">
        </a>
      </div>
      <div class="get-married">
        <img class="i-left" src="/images/assets/party-left.png">
        <h1 class="enough">enough to get married!</h1>
        <img class="i-right" src="/images/assets/party-right.png">
      </div>
      <h4 class="read-our-story text-center">
        <a href="/story/it-began-in-thailand/">read our story</a>
      </h4>
      <!--
        <h5 class="read-our-story text-center">
          <a href="/page/save-the-date">save the date</a>
        </h5>
      -->
    </div>
  </div>
  {{ partial "closing" . }}
</div>

{{ partial "footer" . }}

<div id="confetti"></div>
<script type="text/javascript" src="/js/confetti.js"></script>
