{{ partial "header" . }}

<h3 class="like-each-other">Two people who like each other</h3>

<div class="heart-framed-couple">
  <img class="i-center" src="/images/assets/heart-frame.png">
</div>

<div class="get-married">
  <img class="i-left" src="/images/assets/party-left.png">
  <h1>enough to get married!</h1>
  <img class="i-right" src="/images/assets/party-right.png">
</div>

<h5>
  <a href="/story/one">read our story</a>
</h5>

<h5 class="separator">— — —</h5>

<p class="footer">Estelle &amp; Josh, 2017</p>

{{ partial "footer" . }}

<div id="confetti"></div>
<script type="text/javascript" src="/js/confetti.js"></script>
