{{ partial "header" . }}

<div class="container-fluid rsvp-container">
  <div class="row">
    <div class="col-md-12">
      <div style="width: 450px; margin: 0 auto; position: relative;">
        <img class="deco pink-heart-left" src="/images/assets/rsvp/RVSP_page_icons-26.png">
        <img class="deco cute-flowers-left" src="/images/assets/rsvp/RVSP_page_icons-28.png">
        <img class="deco pink-heart-right" src="/images/assets/rsvp/RVSP_page_icons-27.png">
        <img class="deco cute-flowers-right" src="/images/assets/rsvp/RVSP_page_icons-29.png">
        <br>
        <br>
        <h3>Hello!</h3>
        <h3>We can't wait to see you July 28!
        </h3>
        <br>
        <h3 class="pink">Please RSVP by March 31, 2018.</h3>
        <img class="pink-stripe" src="/images/assets/rsvp/RVSP_page_icons-30.png">
        <form id="rsvp-form">
          <h3>Will you join us?</h3>
          <div class="radio">
            <h3>
              <label class="text-green"><input type="radio" name="rsvp" value="Yes">&nbsp; Yes</label>
            </h3>
          </div>
          <div class="radio">
            <h3>
              <label class="text-pink"><input type="radio" name="rsvp" value="No">&nbsp; No</label>
            </h3>
          </div>
          <br>
          <h3>You</h3>
          <input class="form-control" type="text" name="you_name" placeholder="full name">
          <br>
          <h3>Your Guest</h3>
          <input class="form-control" type="text" name="guest_name" placeholder="full name">
          <br>
          <h3>Food Allergies?</h3>
          <input class="form-control longer" type="text" name="food_allergies" placeholder="any we should know about?">
          <br>
          <br>
          <input type="submit" value="">
          <br>
          <br>
        </form>
      </div>
    </div>
  </div>
</div>

{{ partial "footer" . }}
